<h1>{{title}}</h1>
<!--
    <nav> element and, within that, anchor element that, when clicked, triggers navigation to the HeroesComponent.
-->
<nav>
    <!--
        RouterLink attribute is set to "/heroes", the string that the router matches to the route to HeroesComponent.
    -->
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes">Heroes</a>
    <a routerLink="/vote-taker">Voter</a>
    <
   
    <!--
        <a routerLink="/weapons">Weapons</a>
        <a routerLink="/log">Log</a>
        <a routerLink="/click">Click</a>
        <a routerLink="/key">Key</a>
        <a routerLink="/loop-back">Loop back</a>
        <a routerLink="/hero-parent">Hero-parent</a>
        <a routerLink="/name-parent">name-parent</a>
        <a routerLink="/version-parent">version-parent</a>

    --> 
    
   
    
    
</nav>

<router-outlet></router-outlet>
<!-- 
    The AppComponent template no longer needs <app-heroes> because the app will only display the HeroesComponent when the user navigates to it.
    <app-heroes></app-heroes>
    The <router-outlet> tells the router where to display routed views
-->
<app-messages></app-messages>