<h2>My Heroes</h2>

<ul 
    class="heroes">
    <!-- 
        With [], When the current row hero is the same as the selectedHero, Angular adds the selected CSS class. 
        With (), we bind the event.
    
    <li *ngFor="let hero of heroes"  
        [class.selected]="hero === selectedHero"
        (click)="onSelect(hero)">
        <span class="badge">{{hero.id}}</span>{{hero.name}}
    </li>
    -->

    <li 
        *ngFor="let hero of heroes">

        <a 
            routerLink="/hero-detail/{{hero.id}}">
            <span 
                class="badge">{{hero.id}}</span>{{hero.name}}
                
        </a>
        <button 
        class="delete" 
        title="delete hero"
        (click)="delete(hero)">x</button>
    </li>    
</ul>

<div>
    <label> Hero name : 
        <input #heroName />
    </label>

    <button 
        (click)="add(heroName.value); heroName.value=''">
        add
    </button>    
</div>



<!--
    Old hero details 
-->
<!-- 
    [hero]="selectedHero" is an angular one way property binding.
-->
<!--
    <app-hero-detail [hero]="selectedHero"></app-hero-detail>
-->



<!--
    <h2>{{hero.name | uppercase}} Details</h2>
    <div>
        <span>id: </span>{{hero.id}}
    </div>
    <div>
        <label>name:
            <input [(ngModel)]="hero.name" placeholder="name"/>
        </label>
    </div>
-->

<!--
    <div *ngIf="selectedHero">

        <h2>{{selectedHero.name | uppercase}} Details </h2>
        <div>
            <span>id: </span>{{selectedHero.id}}
        </div>
        <div>
            <label>name :
                <input [(ngModel)]="selectedHero.name" placeholder="name"/>
            </label>
        </div>
    </div>
-->